/* .flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
} */
#apppage .gradient {
	background: -moz-linear-gradient(
	  45deg,
	  rgba(42, 27, 161, 0.7),
	  rgba(29, 210, 177, 0.7) 100%
	);
	background: -webkit-linear-gradient(
	  45deg,
	  rgba(42, 27, 161, 0.7),
	  rgba(29, 210, 177, 0.7) 100%
	);
	background: -webkit-gradient(
	  linear,
	  45deg,
	  from(rgba(42, 27, 161, 0.7)),
	  to(rgba(29, 210, 177, 0.7))
	);
	background: -o-linear-gradient(
	  45deg,
	  rgba(42, 27, 161, 0.7),
	  rgba(29, 210, 177, 0.7) 100%
	);
	background: linear-gradient(
	  45deg,
	  rgba(42, 27, 161, 0.7),
	  rgba(29, 210, 177, 0.7) 100%
	);
  }
  
  #apppage .view {
	background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
  }
  
  #apppage h6 {
	line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
	#apppage .animated img {
	  max-height: 50vh;
	  transform: translateX(-50%);
	  left: 50%;
	  position: absolute;
	}
  }
  @media only screen and (max-width: 767px) {
	#apppage .animated img {
	  max-height: 35vh;
	  transform: translateX(-50%);
	  left: 50%;
	}
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
	#apppage .animated img {
	  max-height: 50vh;
	  transform: translateX(-50%);
	  left: 50%;
	  position: relative;
	}
  }
  @media (max-width: 1000px) and (orientation: landscape) {
	#apppage .view {
	  min-height: 150vh;
	}
  }